/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        Password: Password {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(E) &kp L &kp E &kp N &kp AT &kp LS(C) &kp A &kp R &kp L &kp N0 &kp S &kp N1 &kp N1 &kp N1 &kp N0>;
            label = "PASSWORD";
        };

        Lock: Lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(L) &kp KP_ENTER>;
            label = "LOCK";
        };

        Unlock: Unlock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LA(DELETE))>;
            label = "UNLOCK";
        };

        unlock2: unlock2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LCTRL &sk LEFT_ALT &kp DEL>;
            label = "UNLOCK2";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E      &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp CAPS   &kp A  &kp S  &kp D      &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C      &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp LCTRL  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp RALT
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans     &trans       &kp PLUS   &kp N7        &kp N8        &kp N9        &kp KP_MULTIPLY  &kp DELETE
&trans  &trans  &trans  &trans  &trans     &trans       &kp MINUS  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp KP_DIVIDE    &trans
&trans  &trans  &trans  &trans  &Password  &trans       &kp N0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL        &trans
                        &trans  &none      &kp SPACE    &kp ENTER  &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&trans      &trans  &trans  &trans  &trans  &Lock       &trans  &trans    &kp UP_ARROW  &trans     &trans  &trans
&bt BT_NXT  &trans  &trans  &trans  &trans  &Unlock     &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans  &trans
&trans      &trans  &trans  &trans  &trans  &unlock2    &trans  &trans    &trans        &trans     &trans  &trans
                            &trans  &trans  &trans      &trans  &trans    &trans
            >;
        };
    };
};
